@font-face {
    font-family:  "cinzel regular";
    src: url(../fonts/Cinzel/static/Cinzel-Regular.ttf);
}

@font-face {
    font-family: "cinzel bold";
    src: url(../fonts/Cinzel/static/Cinzel-Bold.ttf);
}

body {
   background-color:  rgb(0, 0, 0);
 }

a {
    text-decoration: none;
    list-style-type: none;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    gap: 40px;
    padding: 50px;
}

.navbar li a {
    color:white ;
    position: relative;
    bottom:  100%;
}


.bannerbackground {
    display: flex;
    position: relative;
    bottom: 60px;
    height: 540px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.bannerbackground img {
    position: absolute;
    height: 200px;
    left: 50%;
    top: 50%;
    Transform: translate(-50%, -50%)
}


.cont-central {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    
}

.cont-central h1 {
    color: white;
    font-family: "cinzel bold",sans serif;
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top : 20px;
}

.cont-central h2 {
    color: #D4B993;
    font-size: 1rem;
    font-family: "cinzel regular";
}

.cont-central p {
    text-align: center;
    width: 1000px;
    color: white;
    font-family: "cinzel regular",sans serif;
    font-size: 1rem;
}

.btnsavoir {
    padding: 10px 15px;
    display: inline-block;
    background-color: #c38f46;
    color: rgb(0, 0, 0);
    border-radius: 3px;
}


.contnews {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

.cardnews {
    width: 30%;
    border: 1px solid rgba(220, 219, 219, 0.226);
    box-shadow: 0px 1px 10px white;
    padding: 5rem 0;
    padding-top: 0px;
    padding-bottom: 190px;
}

.contentnews {
    color: white;
    padding: 20%;
}

.contentnews .imgnews {
    width: 100%;
    height: 200%;
}
.contnews .imgnews img {
    width: 100%;
    object-fit: cover;
}

.contentnews{
    padding : 20px;
}

.gold {
    text-align: center;
    font-family: "cinzel regular";
    color: #c38f46;
}


